<section class="hero">
  <div class="container">
    <div class="hero__block border-block flex">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img src="img/ujjo.svg" alt="Ujjo" />
        </div>
        <div class="hero__phrase ticker">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/peper.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/peper.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/peper.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/peper.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                class="ticker__icon"
                src="img/peper.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </div>
        <div class="hero__image">
          <img src="img/hero-img.jpg" alt="Ujjo peper" />
        </div>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">THE FIRST HOT SAUCE MADE FOR COFFEE</h1>
        <div class="hero__image-2">
          <img src="img/hero-img-2.jpg" alt="Ujjo peper in hand" />
        </div>
      </div>
    </div>
  </div>
</section>
