<div class="ticker-bottom">
  <div class="container">
    <div class="ticker-bottom__content">
      <div class="ticker">
        <div class="ticker__wrapper">
          <div class="ticker__item">
            download our media kit
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
          </div>
          <div class="ticker__item">
            download our media kit
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
          </div>
          <div class="ticker__item">
            download our media kit
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
          </div>
          <div class="ticker__item">
            download our media kit
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
          </div>
          <div class="ticker__item">
            download our media kit
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img
              class="ticker__icon"
              src="img/peper.svg"
              alt=""
              aria-hidden="true"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
